*.tex
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.pyc
*.pyo
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
*.mp4
